* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

section {
  max-width: 320px;
  min-width: 320px;
  background-color: white;
  padding: 1.5rem;
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0 hsl(0, 0%, 7%);
}

.card-image {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.tag {
  background-color: hsl(47, 88%, 63%);
  font-size: 0.75rem;
  font-weight: 800;
  padding: 0.25rem 0.75rem;
  width: fit-content;
  border-radius: 0.25rem;
  margin-bottom: 0.8rem;
}

.date {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

h1:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.heading {
  text-decoration: none;
  color: hsl(0, 0%, 7%);
}

.description {
  color: hsl(0, 0%, 42%);
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.avatar {
  width: 32px;
}

.author-container p {
  font-weight: 800;
  font-size: 0.75rem;
}
